@model Parcours_integration.Models.Plan

@{
    ViewBag.Title = "Supprimer la salle";
}

<h2>Supprimer la salle</h2>
<hr />

<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <table>
                <tbody>
                    <tr style="height:50px">
                        <td class="text-center" style="max-width:160px; font-weight:bold">
                            Type de salle :
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Type_de_salle)
                        </td>
                    </tr>

                    <tr style="height:50px">
                        <td class="text-center" style="width:180px; font-weight:bold">
                            Nom de la salle :
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Nom_de_salle)
                        </td>
                    </tr>

                    <tr style="height:50px">
                        <td class="text-center" style="width:180px; font-weight:bold">
                            Etage :
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Etage)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @{ var path = "/Docs/Plan/" + Model.Image; }
        <div class="col-md-8">
            <img src="@path" id="pic" class="picture" />
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="margin-left:30px">
            <input type="submit" value="Supprimer" class="btn btn-danger" />
        </div>
    </div>
}

<br />
<div>
    <a href="javascript:history.go(-1)" class="btn btn-mini btn-primary icon-edit bigger-10">Retour</a>
</div>
<style>
    .picture {
        max-width: 100%
    }
</style>