@model Parcours_integration.Models.Plan
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
@{
    ViewBag.Title = "Modifier la salle";
}

<h2>Modifier la salle</h2>

@using (Html.BeginForm("Edit", "Organi", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table>
            <tbody>
                <tr style="height:50px">
                    <td class="text-center" style="width:150px">
                        Type de salle :
                    </td>
                    <td style="width:300px">
                        @Html.EditorFor(model => model.Type_de_salle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Type_de_salle, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr style="height:50px">
                    <td class="text-center" style="width:150px">
                        Nom de la salle :
                    </td>
                    <td style="width:300px">
                        @Html.EditorFor(model => model.Nom_de_salle, new { htmlAttributes = new { @class = "form-control" } })
                        <small id="passwordHelpBlock" class="form-text text-muted">Laissez vide pour un lieu unique.</small>
                        @Html.ValidationMessageFor(model => model.Nom_de_salle, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr style="height:50px">
                    <td class="text-center" style="width:150px">
                        Etage :
                    </td>
                    <td style="width:300px">
                        @Html.DropDownList("Etage", null, "-- Etage --", htmlAttributes: new { @class = "dropdwn form-control" })
                        @Html.ValidationMessageFor(model => model.Etage, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr style="height:50px">
                    <td class="text-center" style="width:150px">
                        Plan de la salle :
                    </td>
                    <td style="width:300px">
                        <input type="file" id="postedFile" name="postedFile" style="max-width:500px !important" />
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        @Html.HiddenFor(model => model.Image)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:30px">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<br />
<div>
    <a href="javascript:history.go(-1)" class="btn btn-mini btn-primary icon-edit bigger-10">Retour</a>
</div>

<script>
    $(function () {
        var availableTags = @Html.Raw(Json.Encode(ViewBag.Types));
        var test = [];
        for (var i = 0; i < availableTags.length; i++)
        {
            test[i] = availableTags[i].Text;
        }
        $("#Type_de_salle").autocomplete({
            source: test
        });
    });
</script>