@model IEnumerable<Parcours_integration.Models.Parcours>

@{
    ViewBag.Title = "Formations à faire";
}

<h2>Formations à faire</h2>
<hr />

@using (Html.BeginForm())
{
    <div class="h-100 p-4 bg-light border rounded-3" style="padding:12px">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" id="Search" placeholder="Recherche" class="form-control" style="width:240px" />
                </div>
            </div>

            <div class="col-md-8">
                <div style="line-height:30px">
                    <label>CDI :&nbsp; @Html.CheckBox("CDI", new { onChange = "this.form.submit()", @class = "sizeup" }) &nbsp;&nbsp;</label>
                    <label>CDD : &nbsp;@Html.CheckBox("CDD", new { onChange = "this.form.submit()", @class = "sizeup" }) &nbsp;&nbsp;</label>
                    <label>Stage : &nbsp;@Html.CheckBox("Stage", new { onChange = "this.form.submit()", @class = "sizeup" }) &nbsp;&nbsp;</label>
                    <label>Mutation : &nbsp;@Html.CheckBox("Mutation", new { onChange = "this.form.submit()", @class = "sizeup" })&nbsp;&nbsp;</label>
                    <label>Intérimaire : &nbsp;@Html.CheckBox("Intérim", new { onChange = "this.form.submit()", @class = "sizeup" })&nbsp;&nbsp;</label>
                </div>
            </div>
        </div>
    </div>
}
<br />
@* UwU OwO 8w8 QwQ TwT *@
@if (Model.Count() == 0)
{
    <div class="h-100 p-4 bg-light border rounded-3" style="padding:12px">
        <h3 style="font-weight:normal; padding-left:8px"><span>Aucune formation pour votre/vos secteur(s) n'est à faire.</span></h3>
    </div>
}
else
{
    <div id="FormTable">
        <table class="table table-bordered table-hover table-responsive temp" style="border-color: #bdbdbd">
            <thead>
                <tr>
                    <th class="text-center" style="background-color: #efefef; width: 26%">
                        Employé
                    </th>
                    <th class="text-center" style="background-color: #efefef; width: 15%">
                        Contrat
                    </th>
                    <th class="text-center" style="background-color: #efefef; width: 12%">
                        Entrée dans l'entreprise
                    </th>
                    <th class="text-center" style="background-color: #efefef; width: 15%">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var jours = item.Date_entrée.Substring(0, 2);
                    var mois = item.Date_entrée.Substring(3, 2);
                    var an = item.Date_entrée.Substring(6, 4);

                    var day = int.Parse(jours);
                    var month = int.Parse(mois);
                    var year = int.Parse(an);

                    var retard = "";

                    var date = new DateTime(year, month, day);
                    if ((DateTime.Now.Date - date).TotalDays >= 30)
                    {
                        retard = "Urgent";
                    }
                    else
                    {
                        retard = "Normal";
                    }
                    var N = item.ID;
                    var test = "Parcours" + N;

                    <tr align="center" class="@retard">
                        <td class="Search" data-bs-toggle="collapse" href="#@test">
                            <span style="font-weight:bold">@item.Nom</span>  @item.Prénom
                        </td>
                        <td data-bs-toggle="collapse" href="#@test">
                            <span style="font-weight:bold">@item.Poste</span> - @item.Contrat.Nom
                        </td>
                        <td data-bs-toggle="collapse" href="#@test">
                            @item.Date_entrée
                        </td>
                        <td>
                            @if (ViewBag.EstRH)
                            {
                                <a class="btn btn-primary btn-mini" href="@Url.Action("Details", "Parcours", new { id = item.ID })" role="button">Détails</a>
                                <a class="btn btn-primary btn-mini" href="@Url.Action("AddFile", "Parcours", new { id = item.ID })" role="button">Documents</a>
                            }
                            else
                            {
                                <a class="btn btn-primary btn-mini" href="@Url.Action("AddFile", "Parcours", new { id = item.ID })" role="button">Documents</a>
                            }
                        </td>
                    </tr>

                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="collapse show" id="@test">

                                <table class="table table-bordered" style="border: 0 solid #bdbdbd; margin-bottom: 0px">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:37%">Mission</th>
                                            <th class="text-center" style="width:18%">Service</th>
                                            <th class="text-center" style="width: 7%">Planifiée</th>
                                            <th class="text-center" style="width:30%;">
                                                <span>
                                                    Remarque
                                                </span>
                                                <div class="tooltip">
                                                    <i class="bi bi-question-circle-fill"></i>
                                                    <span class="tooltiptext">Pas de remarque personnelle : décrivez le comportement de l'employé ou des modifications à faire dans la formation.</span>
                                                </div>
                                            </th>
                                            <th class="text-center" style="background-color: #ffffff; width: 8%">Signer</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var format in ViewBag.Missions)
                                        {
                                            var plan = "Plan" + format.ID;
                                            if (format.ID_Parcours != item.ID)
                                            {
                                                continue;
                                            }
                                            using (Html.BeginForm("Sign", "Formations", FormMethod.Post))
                                            {
                                                <tr align="center">
                                                    <td>
                                                        @format.Nom_Mission <input type="hidden" name="MissionID" value="@format.ID" />
                                                    </td>
                                                    <td>
                                                        @format.Nom_Secteur
                                                    </td>
                                                    <td id="@plan">
                                                        @if (format.Planifié)
                                                        {
                                                            <button type="button" class="btn btn-success" onclick="Plan(@format.ID)">OUI</button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="btn btn-danger" onclick="Plan(@format.ID)">NON</button>
                                                        }
                                                    </td>
                                                    <td>
                                                        <textarea name="RemarqueTxt" id="RemarqueTxt" style="width: 100%; max-width: 1300px !important; height: 40px; min-height:40px" class="form-control">@format.Remarque</textarea>
                                                    </td>
                                                    <td>
                                                        <input type="submit" name="btnRegister" value="Signer" class="btn btn-secondary" />
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).parent().hide();
                    $(".collapse").collapse("hide");
                }
                else {
                    $(this).parent().show();
                }
            });
        });
    });

    function Plan(ID) {
        $.ajax({
            type: "POST",
            url: "Formations/Plan",
            data: '{ ID: "' + ID + '" }',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var newBtn = "";
                if (data == "True") {
                    newBtn = '<button type="button" onclick="Plan(' + ID + ')" class="btn btn-success">OUI</button>';
                }
                else {
                    newBtn = '<button type="button" onclick="Plan(' + ID + ')" class="btn btn-danger">NON</button>';
                }
                $("#Plan" + ID).html(newBtn);
            }
        });
    };

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

<style>
    .sizeup {
        transform: scale(1.5);
    }

    .hiddenRow {
        padding: 0 !important;
    }

    .temp tbody > :nth-child(4n+0){ @*Les deux styles suivants sont ceux des tables de missions à faire*@
        background: white;
    }
    .temp tbody > :nth-child(4n+2) {
        background: white;
    }


    .temp tbody > :nth-child(4n+1) { @*Les deux styles suivants sont ceux des tables de parcorus en cours*@
        background-color: rgba(66, 218, 245, 0.3);
    }
    .temp tbody > :nth-child(4n+3) {
        background-color: rgba(66, 183, 255, 0.3);
    }

    .tooltip-inner{
        max-width:250px
    }
</style>