<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Parcours d'intégration</title>


    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/Bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap-toggle.js")
    <link href="~/Content/bootstrap-toggle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="~/Scripts/select2.min.js"></script>
    <link href="~/Content/css/select2.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>


</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Parcours Integ</a>
            @if (ViewBag.EstFormateur || ViewBag.EstResponsable)
            {
                <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav">
                        @if (ViewBag.EstRH || ViewBag.IsAdmin)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    Base de données
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" style="width:235px">
                                    <li><a class="nav-link" href="@Url.Action("Index","Services")">Listes (Services, Contrats, Rythmes)</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a class="nav-link" href="@Url.Action("Index","Utilisateurs")">Interlocuteurs</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a class="nav-link" href="@Url.Action("Index", "Modeles")">Missions possibles</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a class="nav-link" href="@Url.Action("MailRedact", "Home")">Rédaction des mails</a></li>
                                    <li role="separator" class="divider"></li>
                                </ul>
                            </li>
                        }

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                Informations pratiques
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" style="width:200px">
                                <li><a class="nav-link" href="https://knorrbremsegroup.sharepoint.com/sites/lis_informations_communications/" target="_blank">Infos RH <i class="bi bi-box-arrow-up-right"></i></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="nav-link" href="@Url.Action("Carte","Organi")">Plan de l'usine</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="nav-link" href="@Url.Action("Index","Parcours")">Liste des Parcours</a>
                        </li>
                    </ul>
                </div>
                <div class="me-auto">
                    <a class="btn btn-mini btn-secondary icon-edit bigger-10" style="margin-left:15px" href="@Url.Action("Index", "Formations")">Parcours à faire</a>
                </div>
            }
            else
            {
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                Informations pratiques
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" style="width:200px">
                                <li><a class="nav-link" href="https://knorrbremsegroup.sharepoint.com/sites/lis_informations_communications/" target="_blank">Infos RH <i class="bi bi-box-arrow-up-right"></i></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="nav-link" href="@Url.Action("Carte","Organi")">Plan de l'usine</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="me-auto">
                    <a class="btn btn-mini btn-secondary icon-edit bigger-10" style="margin-left:15px" href="@Url.Action("Index", "Formations")">Mon Parcours</a>
                </div>
            }

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Knorr-Bremse</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>