@model IEnumerable<Parcours_integration.Models.Missions>

<table class="table table-bordered table-hover table-responsive" style="border-color: #bdbdbd">
    <thead>
        <tr>
            <th class="text-center" style="background-color: #efefef; width:40%">
                Etapes du parcours
            </th>
            <th class="text-center" style="background-color: #efefef; width: 14%">
                Service
            </th>
            <th class="text-center" style="background-color: #efefef; width: 15%">
                Interlocuteur
            </th>
            <th class="text-center" style="background-color: #efefef; width: 10%">
                Statut
            </th>
            <th class="text-center" style="background-color: #efefef; width: 8%">
                Date Réalisation
            </th>
            @if (ViewBag.EstRH || ViewBag.EstAdmin || ViewBag.EstResponsableCurrent)
            {
                <th class="text-center" style="background-color: #efefef; width: 13%">Actions / remarque</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var Interv = "Intervenants du secteurs : \n \n";
            if (item.Nom_Secteur == "Responsable service")
            {
                Interv = String.Concat(Interv + ViewBag.Responsable);
            }
            else
            {
                foreach (var Personne in ViewBag.Intervenants)
                {

                    if (Personne.Service.Nom == item.Nom_Secteur)
                    {
                        Interv = String.Concat(Interv + Personne.Utilisateurs.Nom + ", ");
                    }
                }
            }

            if (!item.Applicable)
            {
                <tr style="background-color:lightgrey" align="center">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom_Mission)
                    </td>
                    <td data-bs-toggle="tooltip" title="@Interv">
                        @Html.DisplayFor(modelItem => item.Nom_Secteur)
                    </td>
                    <td>
                        <span>NON APPLICABLE</span>
                    </td>
                    <td>
                        <button type="button" disabled class="btn btn-secondary" style="opacity: 1">N/A</button>
                    </td>
                    <td>
                        <span>NON APPLICABLE</span>
                    </td>

                    @if (ViewBag.EstRH || ViewBag.EstAdmin || ViewBag.EstResponsableCurrent)
                    {
                        <td>
                            <button type="button" onclick="NonApplicable(@item.ID)" style="display:block" class="btn btn-outline-primary poof">Applicable</button>
                        </td>
                    }
                </tr>
            }
            else
            {
                <tr align="center">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom_Mission)
                    </td>
                    <td data-bs-toggle="tooltip" title="@Interv">
                        @Html.DisplayFor(modelItem => item.Nom_Secteur)
                    </td>
                    <td>
                        @if (item.Utilisateurs == null)
                        {
                            <p>----------------</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Utilisateurs.Nom)
                        }
                    </td>
                    <td>
                        @if (ViewBag.EstRH || ViewBag.EstAdmin || ViewBag.EstResponsableCurrent)
                        {
                            if (item.Passage)
                            {
                                <button type="button" onclick="Completer(@item.ID)" class="btn btn-success">Complétée</button>
                            }
                            else
                            {
                                <button type="button" onclick="Completer(@item.ID)" class="btn btn-danger">En cours</button>
                            }
                        }
                        else
                        {
                            if (item.Passage)
                            {
                                <button type="button" disabled class="btn btn-success" style="opacity: 1">Complétée</button>
                            }
                            else
                            {
                                <button type="button" disabled class="btn btn-danger" style="opacity: 1">En cours</button>
                            }


                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_passage)
                    </td>
                    @if (ViewBag.EstRH || ViewBag.EstAdmin || ViewBag.EstResponsableCurrent)
                    {
                        <td>
                            @if (!item.Passage)
                            {
                                <div class="btn-group" role="group">
                                    <a class="btn btn-outline-primary" href="@Url.Action("Edit", "Missions", new { id = item.ID })" role="button">Modifier</a>
                                    <button type="button" onclick="NonApplicable(@item.ID)" class="btn btn-outline-primary">N/A</button>
                                </div>
                            }
                            else
                            {
                                if (item.Remarque != "")
                                {
                                    @Html.DisplayFor(modelItem => item.Remarque)
                                }
                                else
                                {
                                    <p>Pas de remarque.</p>
                                }
                            }
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

<style>
    .disabled{
        opacity:1;
    }
</style>

<script>
    function Completer(ID) {
        $.ajax({
            type: "POST",
            url: "../../Missions/Completer",
            contentType: "application/json; charset=utf-8",
            data: '{ ID: "' + ID + '"}',
            success: function (data) {
                $("#ViewMission").html(data);
            },
            error: function (data) {
                alert("Error");
                console.log(url);
            }
        });
    }

    function NonApplicable(ID) {
        $.ajax({
            type: "POST",
            url: "../../Missions/NonApplicable",
            data: '{ ID: "' + ID + '"}',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#ViewMission").html(data);
            },
            error: function (data) {
                alert("Error");
                console.log(data);
            }
        })
    }

</script>