@model Parcours_integration.Models.Employes

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Employes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model=>model.Login)
        <hr />
        <table style="width:600px">
            <tbody>
                <tr style="height:50px">
                    <td class="text-center" style="width:160px; font-weight:bold">
                        NOM Prénom
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control", placeholder = "Requis" } })
                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="height:50px">
                    <td class="text-center" style="width:160px; font-weight:bold">
                        Photo
                    </td>
                    <td>
                        <input type="file" id="postedFile" name="postedFile" style="max-width:500px !important" />
                    </td>
                </tr>

                <tr style="height:50px">
                    <td class="text-center" style="width:160px; font-weight:bold">
                        @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control", placeholder = "Requis" } })
                        @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="height:50px">
                    <td class="text-center" style="width:160px; font-weight:bold">
                        @Html.LabelFor(model => model.Secteur, htmlAttributes: new { @class = "control-label" })
                    </td>
                    <td>
                        @Html.DropDownList("Secteur", null, "--Secteur sélectionné--", htmlAttributes: new { @class = "dropdwn form-control" })
                        @Html.ValidationMessageFor(model => model.Secteur, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="height:50px">
                    <td class="text-center" style="width:160px; font-weight:bold">
                        Supérieur :
                    </td>
                    <td>
                        @Html.DropDownList("Reporting", null, "Aucun supérieur direct", htmlAttributes: new { @class = "dropdwn form-control" })
                        @Html.ValidationMessageFor(model => model.Reporting, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr style="height:50px">
                    <td class="text-center" style="width:160px; font-weight:bold">
                        Admin
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model.Intervenant, new { data_toggle = "toggle", data_onstyle = "success", data_on = "OUI", data_off = "NON", data_width = "75", data_offstyle = "danger" })
                    </td>
                </tr>
            </tbody>
        </table>

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:30px">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<br />
<div>
    <a href="javascript:history.go(-1)" class="btn btn-mini btn-primary icon-edit bigger-10">Retour</a>
</div>

<style>
    .dropdwn {
        appearance: auto !important;
    }
</style>