@model IEnumerable<Parcours_integration.Models.Employes>

@{
    ViewBag.Title = "Liste des interlocuteurs";
}

<h2>Listes des interlocuteurs</h2>

@using (Html.BeginForm())
{
    <div class="h-100 p-4 bg-light border rounded-3" style="padding:12px">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" id="Search" placeholder="Recherche" class="form-control" style="width:240px" />
                </div>
            </div>

            <div class="col-md-5">
                Secteur de l'interlocuteur :&nbsp; @Html.DropDownList("secteur", null, "Tous", htmlAttributes: new { @onchange = "this.form.submit()" })
            </div>

            <div class="col-md-3">
                <div class="d-grid d-md-flex btn-group-vertical">
                    @if (ViewBag.EstAdmin)
                    {
                        <a class="btn btn-primary btn-mini" href="@Url.Action("Create")" role="button">Nouvel interlocuteur</a>
                    }
                    else
                    {
                        <a class="btn btn-primary disabled btn-mini" href="@Url.Action("Create")" role="button">Nouvel interlocuteur</a>
                    }
                </div>
            </div>
        </div>
    </div>
}
<br />
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4" style="padding:5px">
                    <div class="h-100 bg-light border rounded-3 Search" style="padding:10px; line-height:30px" align="center">
                        @if (item.Photo != null)
                        {
                            var base64 = Convert.ToBase64String(item.Photo);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <img src="@imgSrc" class="picture" style="margin-bottom:10px" />
                        }
                        else
                        {
                            <img src="~/Docs/person-icon.png" class="picture" style="margin-bottom:10px" />
                        }
                        <div style="font-weight:bold">@Html.DisplayFor(modelItem => item.Nom)</div>
                        <div>@Html.DisplayFor(modelItem => item.Secteur)</div>
                        @if (item.Intervenant)
                        {
                            <div style="font-weight:bold">@Html.DisplayFor(modelItem => item.Mail)</div>
                        }
                        else
                        {
                            <div>@Html.DisplayFor(modelItem => item.Mail)</div>
                        }
                        <div style="margin-bottom:5px">
                            @if (ViewBag.EstAdmin)
                            {
                                <a href="@Url.Action("Edit", new { Login = item.Login })" class="btn btn-primary icon-edit bigger-10" style="width:100px">Modifier</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Edit", new { Login = item.Login })" class="btn btn-primary icon-edit bigger-10 disabled" style="width:100px">Modifier</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).parent().hide();
                }
                else {
                    $(this).parent().show();
                }
            });
        });
    });
</script>

<style>
    .picture {
        max-width: 50%
    }
</style>