@model Parcours_integration.Models.Parcours

@{
    ViewBag.Title = "Nouveau parcours d'intégration";
}

<h2>Nouveau parcours d'intégration</h2>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-control">
        <br />

        <div class="row">
            <div class="col-md-4">@Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control", placeholder = "NOM", required = "required" } })</div>
            <div class="col-md-4">@Html.EditorFor(model => model.Prénom, new { htmlAttributes = new { @class = "form-control", placeholder = "Prénom", required = "required" } })</div>
            <div class="col-md-4">@Html.DropDownList("ID_Employé", null, "--- Compte informatique de l'employé ---", htmlAttributes: new { @class = "ID_Employé form-control" })</div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4">@Html.DropDownList("Type_Contrat", null, "--- Type de contrat ---", htmlAttributes: new { @class = "form-control dropdwn", required = "required" })</div>
            <div class="col-md-4">@Html.EditorFor(model => model.Poste, new { htmlAttributes = new { @class = "form-control", placeholder = "Poste occupé", required = "required" } })</div>
            <div class="col-md-4">@Html.DropDownList("EquipeID", null, "--- Rythme ---", htmlAttributes: new { @class = "form-control dropdwn", required = "required" })</div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-4" style="display: flex; align-items: center ">
                @Html.DropDownList("ID_Resp", null, "--- Responsable ---", htmlAttributes: new { @class = "ID_Resp form-control dropdwn", required = "required", style = "width:350px" })
                <div class="tooltip" style="margin-left:15px">
                    <i class="bi bi-question-circle-fill"></i>
                    <span class="tooltiptext">Le responsable est le mentor de l'employé. Il est le seul à avoir accès aux missions de responsables, tel que l'accueil dans le service ou la description du poste.</span>
                </div>
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.Entrée, new { htmlAttributes = new { id = "toto", @class = "form-control", type = "date" } })
            </div>
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:30px">
                <input type="submit" value="Enregistrer" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<br />
<div>
    <a href="javascript:history.go(-1)" class="btn btn-mini btn-primary">Retour</a>
</div>

<script>
    $(".ID_Resp").select2({
        placeholder: "--- Responsable ---",
        allowClear: true
    });

    $(".ID_Employé").select2({
        placeholder: "--- Compte informatique de l'employé ---",
        allowClear: true
    });
</script>

<style>
    .select2-container .select2-selection--single {
        height: 38px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-top: 5px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 6px;
    }
</style>