@model Parcours_integration.Models.Parcours

@{
    ViewBag.Title = "Détails du parcours";
}

<div>
    <div>
        <br />
        <div>
            <h2 style="font-weight: normal">Détails du parcours de <span style="font-weight:bold">@Html.DisplayFor(model => model.Nom)</span> @Html.DisplayFor(model => model.Prénom)</h2>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-4">
                <h2 style="font-weight: normal; padding-left: 10px"><span>@Html.DisplayFor(model => model.Contrat.Nom) - @Html.DisplayFor(model => model.Equipe.Nom)</span></h2>
            </div>
            <div class="col-md-4 text-center">
                <h2 style="font-weight:normal"><span>@ViewBag.PosteOccupé</span></h2>
            </div>
            <div class="col-md-4">
                <h3 style="font-weight:normal; padding-left:10px"><span>Entré(e) le : @ViewBag.Entrée</span></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h3 style="font-weight:normal; padding-left:13px"><span>Responsable : @ViewBag.Responsable</span></h3>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-2">
            <a href="@Url.Action("Index")" class="btn btn-mini btn-primary bigger-10" style="width:100px">Retour</a>
        </div>

        @if (ViewBag.EstRH)
        {
            <div class="col-md-8" style="height:38px; display:inline-flex">
                <div class="btn-group" style="margin-left: auto">
                    @if (!Model.Complété)
                    {
                        <a href="@Url.Action("Edit", new { id = Model.ID })" class="btn btn-mini btn-primary bigger-10" style="max-width:120px;">Modifier</a>
                    }
                    <a href="@Url.Action("AddFile", new { id = Model.ID })" class="btn btn-mini btn-outline-info bigger-10" style="max-width: 200px">Documents du parcours</a>
                </div>
                @using (Html.BeginForm("Export", "Parcours", FormMethod.Post, new { style = "width:200px;margin-right: auto;margin-left:5px" }))
                {
                    <input type="hidden" name="GridHtml" />
                    <input type="hidden" value="@Model.ID" name="ID" />
                    <input class="btn btn-mini btn-warning icon-edit bigger-10" type="submit" id="btnSubmit" value="Exporter le parcours" />
                }
            </div>
            <div class="col-md-2">
                @if (!Model.Complété)
                {
                    <a href="@Url.Action("Create", "Missions", new { id = Model.ID })" class="btn btn-mini btn-primary icon-edit bigger-10 float-end">Nouvelle mission</a>
                }
            </div>
            <br /><br />
        }
        else
        {
            <div class="col-md-8 btn-group" style="height:38px">
                <div class="btn-group" style="margin-left: auto">
                    <a href="@Url.Action("AddFile", new { id = Model.ID })" class="btn btn-mini btn-outline-info bigger-10" style="max-width: 200px">Documents du parcours</a>
                </div>
                @using (Html.BeginForm("Export", "Parcours", FormMethod.Post, new { style = "width:200px;margin-right: auto;margin-left:5px" }))
                {
                    <input type="hidden" name="GridHtml" />
                    <input type="hidden" value="@Model.ID" name="ID" />
                    <input class="btn btn-mini btn-warning icon-edit bigger-10" type="submit" id="btnSubmit" value="Exporter le parcours" />
                }
            </div>
            <br /><br />
        }

    </div>
    <br />
    <div class="row">
        <div id="ViewMission" class="col-md-12">
            @Html.Partial("_Missions", Model.Missions)
        </div>
    </div>

    <div id="Grid" style="display: none">
        @Html.Partial("_HiddenMissions", Model.Missions)
    </div>
    
    

    @if (Model.Complété)
    {
        <hr />
        <div class="h-100 bg-light border rounded-1" style="padding:12px">
            <span style="font-weight:bold">Commentaire</span>
            <hr style="margin-bottom:5px;margin-top:5px" />
            @Html.Partial("_CommentBox")
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });

    $(document).scroll(function () {
        localStorage['page'] = document.URL;
        localStorage['scrollTop'] = $(document).scrollTop();
    });

    $(document).ready(function () {
        if (localStorage['page'] == document.URL) {
            $(document).scrollTop(localStorage['scrollTop']);
        }
    });
</script>

<style>
    .commentBox {
        padding: 10px;
        border-radius: 10px;
    }

    .starFade {
        background-image: url('../../Docs/Images/starFade.png');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .starFadeN {
        background-image: url('../../Docs/Images/starFade.png');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
    }

    .starGlow {
        background-image: url('../../Docs/Images/starGlow.png');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .starGlowN {
        background-image: url('../../Docs/Images/starGlow.png');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
    }
</style>