@model Parcours_integration.Models.Parcours

@{
    ViewBag.Title = "Détails du parcours";
}

<div>
    <div>
        <br />
        <div>
            <h2 style="font-weight: normal">Détails du parcours de <span style="font-weight:bold">@Html.DisplayFor(model => model.Nom)</span> @Html.DisplayFor(model => model.Prénom)</h2>
        </div>

        <hr />

        <div class="row" style="margin-bottom:10px">
            <div class="col-md-4">
                <h3 style="font-weight: normal; margin-left: 40px"><span>@Html.DisplayFor(model => model.Contrat.Nom) - @Html.DisplayFor(model => model.Equipe.Nom)</span></h3>
            </div>
            <div class="col-md-4 text-center">
                <h3 style="font-weight:normal"><span>@ViewBag.PosteOccupé</span></h3>
            </div>
            <div class="col-md-4 text-end">
                <h3 style="font-weight:normal; margin-right: 40px"><span>Entré(e) le : @ViewBag.Entrée</span></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <h3 style="font-weight:normal; padding-left:13px"><span>Responsable : @Html.DisplayFor(model=>model.Utilisateurs.Nom)</span></h3>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-2">
            <a href="@Url.Action("Index")" class="btn btn-primary" style="width:100px">Retour</a>
        </div>

        @if (ViewBag.EstRH || ViewBag.EstManPower)
        {
            <div class="col-md-8" style="height:38px; display:flex; justify-content:center">
                <div class="btn-group">
                    @if (!Model.Complété)
                    {
                        <a href="@Url.Action("Edit", new { id = Model.ID })" class="btn btn-primary" style="max-width:120px;">Modifier</a>
                    }
                    <a href="@Url.Action("AddFile", new { id = Model.ID })" class="btn btn-outline-info" style="max-width: 200px">Documents du parcours</a>
                    <a href="@Url.Action("Delete", new {id = Model.ID})" class="btn btn-outline-danger" style="max-width:120px;">Supprimer</a>
                </div>
                <button type="button" class="btn btn-outline-warning" style="margin-left:5px" onclick="NewMail(@Model.ID)">Relancer</button>
                @using (Html.BeginForm("Export", "Parcours", FormMethod.Post, new { style = "width:200px;margin-left:5px" }))
                {
                    <input type="hidden" name="GridHtml" />
                    <input type="hidden" value="@Model.ID" name="ID" />
                    <input class="btn btn-warning" type="submit" id="btnSubmit" value="Exporter le parcours" />
                }

            </div>
            <div class="col-md-2">
                @if (!Model.Complété)
                {
                    <a href="@Url.Action("Create", "Missions", new { id = Model.ID })" class="btn btn-primary float-end">Nouvelle mission</a>
                }
            </div>


            <br /><br />
        }
        else
        {
            <div class="col-md-8 btn-group" style="height:38px">
                <div class="btn-group" style="margin-left: auto">
                    <a href="@Url.Action("AddFile", new { id = Model.ID })" class="btn btn-outline-info" style="max-width: 200px">Documents du parcours</a>
                </div>
                @using (Html.BeginForm("Export", "Parcours", FormMethod.Post, new { style = "width:200px;margin-right: auto;margin-left:5px" }))
                {
                    <input type="hidden" name="GridHtml" />
                    <input type="hidden" value="@Model.ID" name="ID" />
                    <input class="btn btn-warning" type="submit" id="btnSubmit" value="Exporter le parcours" />
                }
            </div>
            <br /><br />
        }

    </div>
    <br />
    <div class="row">
        <div id="ViewMission" class="col-md-12">
            @Html.Partial("_Missions", Model.Missions)
        </div>
    </div>

    <div id="Grid" style="display: none">
        @Html.Partial("_HiddenMissions", Model.Missions)
    </div>

    @if (Model.Complété)
    {
        <hr />

        <div class="col-md-12">
            <span style="font-size:22px">Signatures requises : </span>
        </div>

        <div class="row" style="margin-top:15px">
            <div class="col-md-4" style="position: relative;height:110px">
                <span>Ressources Humaines / Manpower :</span>
                <br />
                @if (ViewBag.RHSign == null)
                {
                    if (ViewBag.EstAdmin || ViewBag.EstRH)
                    {
                        <div id="RHSign" style="text-align:center">
                            <button type="button" id="RHbtn" onclick="Sign(@Model.ID, this.id)" class="btn btn-outline-primary float-end" style="position:absolute;bottom:0;right:12px">Signer</button>
                        </div>
                    }
                }
                else
                {
                    <div style="text-align:center">
                        <h4 style='margin:0'>@ViewBag.RHSign[0]</h4>
                        <span>En tant que @ViewBag.RHSign[1]</span>
                        <br />
                        <span>Signé le : @ViewBag.RHSign[2]</span>
                    </div>
                }
            </div>
            <div class="col-md-4" style="position: relative">
                <span>Responsable de l'employé :</span>
                <br />
                @if (ViewBag.RespSign == null)
                {
                    if (ViewBag.UserID == Model.ID_Resp)
                    {
                        <div id="RespSign" style="text-align:center">
                            <button type="button" id="Respbtn" onclick="Sign(@Model.ID, this.id)" class="btn btn-outline-primary float-end" style="position:absolute;bottom:0;right:12px">Signer</button>
                        </div>
                    }
                }
                else
                {
                    <div style="text-align:center">
                        <h4 style='margin:0'>@ViewBag.RespSign[0]</h4>
                        <span>En tant que @ViewBag.RespSign[1]</span>
                        <br />
                        <span>Signé le : @ViewBag.RespSign[2]</span>
                    </div>
                }
            </div>
            <div class="col-md-4" style="position: relative">
                <span>Bénéficiare du parcours :</span>
                <br />
                @if (ViewBag.EmpSign == null)
                {
                    if (ViewBag.EstAdmin || (ViewBag.UserID == Model.ID_Employé))
                    {
                        <div id="EmpSign" style="text-align:center">
                            <button type="button" id="Empbtn" onclick="Sign(@Model.ID, this.id)" class="btn btn-outline-primary float-end" style="position:absolute;bottom:0;right:12px">Signer</button>
                        </div>
                    }
                }
                else
                {
                    <div style="text-align:center">
                        <h4 style='margin:0'>@ViewBag.EmpSign[0]</h4>
                        <span>En tant qu'@ViewBag.EmpSign[1]</span>
                        <br />
                        <span>Signé le : @ViewBag.EmpSign[2]</span>
                    </div>
                }
            </div>
        </div>

        <hr />
        <div class="h-100 bg-light border rounded-1" style="padding:12px">
            <span style="font-weight:bold">Commentaire</span>
            <hr style="margin-bottom:5px;margin-top:5px" />
            @Html.Partial("_CommentBox")
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });

    $(document).scroll(function () {
        localStorage['page'] = document.URL;
        localStorage['scrollTop'] = $(document).scrollTop();
    });

    $(document).ready(function () {
        if (localStorage['page'] == document.URL) {
            $(document).scrollTop(localStorage['scrollTop']);
        }
    });

    function NewMail(ID) {
        $.ajax({
            type: "POST",
            url: "../NewParcMail",
            data: '{ ID: "' + ID + '"}',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                alert("Envoi des mails en cours. Veuillez patienter.")
            }
        })
    }

    function Sign(ID, clicked_id) {
        var boutton = document.getElementById(clicked_id);
        $.ajax({
            type: "POST",
            url: "../Signer",
            data: '{ ID: "' + ID + '", RoleBtn: "' + boutton.id + '" }',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var test = JSON.parse(data);
                boutton.style.display = "none";

                var newHtml = "<h4 style='margin:0'>" + test[1] + "</h4> <span>En tant que " + test[2] + "</span><br/><span>Signé le : " + test[0] + "</span>"

                boutton.parentNode.innerHTML = newHtml;
            }
        })
    }
</script>

<style>
    .commentBox {
        padding: 10px;
        border-radius: 10px;
    }

    .starFade {
        background-image: url('../../Docs/Images/starFade.png');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .starFadeN {
        background-image: url('../../Docs/Images/starFade.png');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
    }

    .starGlow {
        background-image: url('../../Docs/Images/starGlow.png');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .starGlowN {
        background-image: url('../../Docs/Images/starGlow.png');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
    }
</style>