@model IPagedList<Parcours_integration.Models.Parcours>

@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="col-md-12">
    <div class="row">
        @foreach (var item in Model)
        {
            string[] colors = { "success", "secondary" };
            int index = 1;
            if (item.Complété)
            {
                index = 0;
            }
            var complété = colors[index];
            string listeSecteurs = "";
            List<String> serv = new List<string>();
            string coll = String.Concat("collapse" + item.ID);

            if (!item.Complété)
            {
                <div class="col-md-12" style="padding: 5px; line-height: 50px">
                    <div class="h-100 bg-light border rounded-3 Search" style="padding:10px; line-height:30px" align="center">
                        <div class="row" style="margin:0">
                            <div class="col-md-3" style="display:flex; align-items:center; justify-content:center;">
                                <h4>@Html.DisplayFor(modelItem => item.Nom) <span style="font-weight:normal">@Html.DisplayFor(modelItem => item.Prénom)</span></h4>
                            </div>
                            <div class="col-md-6" style="display:flex; justify-content:center">
                                <span>
                                    Parcours créé le @Html.DisplayFor(modelItem => item.Date_entrée) -

                                    <span style="font-weight:bold">@Html.DisplayFor(modelItem => item.Contrat.Nom)</span> - @Html.DisplayFor(modelItem => item.Poste)
                                    <br />
                                    @if (item.ID_Resp == null)
                                    {
                                        <span>Pas de responsable</span>
                                    }
                                    else
                                    {
                                        <span>Responsable : @Html.DisplayFor(modelItem => item.Utilisateurs.Nom)</span>
                                    }
                                </span>
                            </div>

                            @{
                                foreach (var mission in item.Missions)
                                {
                                    if (!mission.Passage)
                                    {
                                        if (!serv.Contains(mission.Nom_Secteur))
                                        {
                                            serv.Add(mission.Nom_Secteur);
                                        }
                                    }
                                }
                                var lastitem = serv.Last();
                                foreach (var service in serv)
                                {
                                    if (service == lastitem)
                                    {
                                        listeSecteurs = String.Concat(listeSecteurs + service);
                                    }
                                    else
                                    {
                                        {
                                            listeSecteurs = String.Concat(listeSecteurs + service + ", ");
                                        }
                                    }
                                }
                            }
                            <div class="col-md-3 btn-group" style="margin-top:10px;margin-bottom:10px">
                                @if (ViewBag.IsAdmin || ViewBag.UserIT)
                                {
                                    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.ID })" role="button" style="max-height:40px">Modifier</a>
                                    <a class="btn btn-primary" href="@Url.Action("Details", new { id = item.ID })" role="button" style="max-height:40px">Détails</a>
                                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Secteur(s) manquant(s) : @listeSecteurs" onclick="Relance(@item.ID)" style="max-height:40px">Relancer</button>
                                }
                                else if (ViewBag.EstResponsable)
                                {
                                    <a class="btn btn-primary" href="@Url.Action("Details", new { id = item.ID })" role="button" style="max-height:40px">Détails</a>
                                }
                            </div>

                            <div class="accordion">
                                <div class="accordion-item" style="width: 95%;">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@coll" aria-controls="@coll" style="height:40px">
                                            Missions à faire :
                                        </button>
                                    </h2>
                                    <div id="@coll" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">

                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr style="line-height:25px">
                                                        <th class="text-center" style="background-color: #efefef; width:40%">
                                                            Mission
                                                        </th>
                                                        <th class="text-center" style="background-color: #efefef; width:15%">
                                                            Date de passage
                                                        </th>
                                                        <th class="text-center" style="background-color: #efefef;">
                                                            Remarque
                                                        </th>
                                                        <th class="text-center" style="background-color: #efefef; width:14%">
                                                            Terminée?
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var miss in ViewBag.MissTerm)
                                                    {
                                                        if (miss.ID_Parcours == item.ID)
                                                        {
                                                            <tr>
                                                                <td class="text-center">
                                                                    @miss.Nom_Mission
                                                                </td>
                                                                <td class="text-center">
                                                                    @miss.Date_passage
                                                                </td>
                                                                <td class="text-center">
                                                                    @miss.Remarque
                                                                </td>
                                                                <td class="text-center">
                                                                    @if (miss.Passage)
                                                                    {
                                                                        <button type="button" disabled class="btn btn-success" style="opacity:1">Complétée</button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button type="button" disabled class="btn btn-danger" style="opacity:1">En cours</button>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-12" style="padding:5px; line-height:50px;">
                    <div class="h-100 border rounded-3 Search" style="padding:10px; line-height:30px; background-color:#00aa0050" align="center">
                        <div class="row" style="margin:0">
                            <div class="col-md-4">
                                <h4>@Html.DisplayFor(modelItem => item.Nom) <span style="font-weight:normal">@Html.DisplayFor(modelItem => item.Prénom)</span></h4>
                            </div>
                            <div class="col-md-6">
                                <span>
                                    Parcours créé le @Html.DisplayFor(modelItem => item.Date_entrée) -

                                    <span style="font-weight:bold">@Html.DisplayFor(modelItem => item.Contrat.Nom)</span> - @Html.DisplayFor(modelItem => item.Poste) - 

                                    COMPLÉTÉ
                                </span>
                            </div>
                            <div class="col-md-2">
                                @if (ViewBag.IsAdmin || item.Nom.ToUpper() + " " + item.Prénom == ViewBag.UserSession)
                                {
                                    <a class="btn btn-primary" href="@Url.Action("Details", new { id = item.ID })" role="button">Détails</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, CDI = ViewBag.CDI, CDD = ViewBag.CDD, Stage = ViewBag.Stage, Mutation = ViewBag.Mutat, Terminé = ViewBag.Term }))
    </div>
</div>