<div class="h-100 bg-light border rounded-3" style="padding:10px; line-height:30px" align="center">
    <span style="font-weight:bold">Rythmes</span>
    <br />
    <table id="TableEqu" class="table table-hover table-bordered" style="display: block; overflow-y: scroll; width: 90%; max-height: 300px; background-color: white">
        @foreach (var item in Model.Equipes)
        {
            <tr id="@item.ID">
                <td id="@item.ID" style="border-right:0">
                    <span id="SpanText">@item.Nom</span>
                    <input id="InputText" type="text" value="@item.Nom" style="display:none" maxlength="50" />
                </td>

                <td id="test" style="width: 1%; border-left: 0">
                    @if (ViewBag.EstAdmin)
                    {
                        if (item.Actif)
                        {
                            <button type="button" onclick="ActiverEqu(@item.ID)" class="btn btn-success btn-sm" style="float:right"><i class="bi bi-check-lg"></i></button>
                        }
                        else
                        {
                            <button type="button" onclick="ActiverEqu(@item.ID)" class="btn btn-danger btn-sm" style="float:right"><i class="bi bi-x-lg"></i></button>
                        }
                    }
                    else
                    {
                        if (item.Actif)
                        {
                            <button type="button" disabled onclick="" class="btn btn-success btn-sm" style="float: right; opacity: 1"><i class="bi bi-check-lg"></i></button>
                        }
                        else
                        {
                            <button type="button" disabled onclick="" class="btn btn-danger btn-sm" style="float: right; opacity: 1"><i class="bi bi-x-lg"></i></button>
                        }
                    }
                </td>
            </tr>
        }
        <tr id="NewEquLine" style="display:none">
            <td style="border-right: 0">
                <input id="NewText" type="text" maxlength="50" />
            </td>

            <td style="width: 1%; border-left: 0">
                <button type="button" onclick="SwapbtnEqu()" id="ActiveEqu" value="true" class="btn btn-success btn-sm" style="float:right"><i class="bi bi-check-lg"></i></button>
                <button type="button" onclick="SwapbtnEqu()" id="InactiveEqu" value="false" class="btn btn-danger btn-sm" style="float:right; display:none"><i class="bi bi-x-lg"></i></button>
            </td>
        </tr>
    </table>

    <div class="btn-group btn-group-sm" style="margin-bottom:10px">
        @if (ViewBag.EstAdmin)
        {
            <button type="button" id="NewEqu" class="btn btn-primary btn-mini" onclick="NewLigneEqu()" role="button">Nouvelle Equipe</button>
            <button type="button" disabled id="RenameEqu" class="btn btn-primary" onclick="">Renommer</button>
        }
    </div>

    <div class="btn-group btn-group-sm" style="margin-bottom:10px">
        @if (ViewBag.EstAdmin)
        {
            <button type="button" id="UpdateEquBtn" class="btn btn-primary" onclick="" style="display:none">Confirmer</button>
            <button type="button" id="CancelEquBtn" class="btn btn-primary" onclick="" style="display:none">Annuler</button>
        }
    </div>
</div>

<script>
    var equipes = document.getElementById('TableEqu');
    var NewEquLine = equipes.querySelector("#NewEquLine");

    var NewEqu = document.getElementById("NewEqu");
    var RenameEqu = document.getElementById("RenameEqu");
    var UpdateEquBtn = document.getElementById("UpdateEquBtn");
    var CancelEquBtn = document.getElementById("CancelEquBtn");

    var ArrayEquID = @Html.Raw(Json.Encode(ViewBag.EquipesID));

    $('#TableEqu').on('click', 'tbody tr', function (event) { // Active la modification lors de la sélection d'une équipe
        $(this).addClass('highlight').siblings().removeClass('highlight');

        var item = equipes.querySelector('.highlight');
        var Row = item.getAttribute('id');
        var Test = ArrayEquID.indexOf(Row);

        if (Row != "NewEquLine") {
            var UrlRename = "EditEqu(" + Test + ")";
            var ClickCancel = "CancelEqu(" + Test + ")";
            var UpdateBtn = "ConfirmEqu(" + Row + ", " + Test + ")";
        }
        else {
            var UrlRename = "EditEqu()";
            var ClickCancel = "CancelEqu()";
            var UpdateBtn = "ConfirmEqu()";
        }

        RenameEqu.setAttribute('onclick', UrlRename);
        CancelEquBtn.setAttribute('onclick', ClickCancel); //indique si l'annulation doit annuler la modification ou la création
        UpdateEquBtn.setAttribute('onclick', UpdateBtn);

        if (Row == "NewEquLine" || item.classList.contains("Change")) { //actualise le bouton selon la ligne cliquée
            NewEqu.style.display = "none";
            RenameEqu.style.display = "none";
            UpdateEquBtn.style.display = "block";
            CancelEquBtn.style.display = "block";

            RenameEqu.disabled = true;
        }
        else {
            NewEqu.style.display = "block";
            RenameEqu.style.display = "block";
            UpdateEquBtn.style.display = "none";
            CancelEquBtn.style.display = "none";

            RenameEqu.disabled = false;
        }
    });

    function EditEqu(ID) {
        var textcell = equipes.rows[ID].cells.item(0);
        var SpanText = textcell.querySelector("#SpanText");
        var InputText = textcell.querySelector("#InputText");

        var prev = equipes.getElementsByClassName("Change");
        if (prev.length != 0) {
            prev[0].querySelector("#SpanText").style.display = "block";
            prev[0].querySelector("#InputText").style.display = "none";
            prev[0].querySelector("#InputText").value = prev[0].querySelector("#SpanText").textContent;
            prev[0].classList.remove("Change");
        }

        equipes.rows[ID].classList.add("Change");
        SpanText.style.display = "none";
        InputText.style.display = "block";

        NewEqu.style.display = "none";
        RenameEqu.style.display = "none";
        UpdateEquBtn.style.display = "block";
        CancelEquBtn.style.display = "block";
    };

    function ActiverEqu(ID) { //Remplace le lien vers DesactiverEqu dans le controlleur
        $.ajax({
            type: "POST",
            url: "Services/DesactiverEqu",
            data: '{ ID: "' + ID + '" }',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $("#ViewEquipes").html(data);
            }
        });
    };

    function ConfirmEqu(ID, Row) {
        if (ID == null) {
            var textcell = NewEquLine.cells.item(0);
            var InputText = textcell.querySelector("#NewText").value;
            var Active = document.getElementById("ActiveEqu").value;

            $.ajax({
                type: "post",
                url: "Services/InsertEqu",
                data: '{ Name: "' + InputText + '", Actif:"' + Active + '" }',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#ViewEquipes").html(data);
                },
                error: function (data) {
                    $("#ViewEquipes").html(data);
                }
            })
        }
        else {
            var textcell = equipes.rows[Row].cells.item(0);
            var InputText = textcell.querySelector("#InputText").value;
            $.ajax({
                type: "post",
                url: "Services/RenameEqu",
                data: '{ ID: "' + ID + '", Name: "' + InputText + '" }',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#ViewEquipes").html(data);
                },
                error: function (data) {
                    $("#ViewEquipes").html(data);
                }
            })
        }
    };

    function NewLigneEqu() {
        NewEquLine.style.display = "table-row";

        if (equipes.querySelector('.highlight') != null) {
            equipes.querySelector('.highlight').classList.remove('highlight');
        }
        NewEquLine.classList.add('highlight');

        equipes.scrollBy({
            top: equipes.offsetHeight,
            behavior: "smooth",
        });

        NewEqu.style.display = "none";
        RenameEqu.style.display = "none";
        UpdateEquBtn.style.display = "block";
        CancelEquBtn.style.display = "block";

        CancelEquBtn.setAttribute('onclick', 'CancelEqu()');
    };

    function SwapbtnEqu() { //lors de la création d'une ligne, Swap le bouton actif avec celui inactif et échange leur ID pour échanger à nouveau
        var ActBtn = document.getElementById("ActiveEqu");
        var InActBtn = document.getElementById("InactiveEqu");

        ActBtn.style.display = "none";
        InActBtn.style.display = "block";
        ActBtn.id = "InactiveEqu";
        InActBtn.id = "ActiveEqu";
    };

    function CancelEqu(ID) {
        if (ID == null) { //cache la nouvelle ligne et reset les boutons
            NewEquLine.style.display = "none";
            NewEquLine.querySelector("#NewText").value = "";

            NewEqu.style.display = "block";
            RenameEqu.style.display = "block";

            UpdateEquBtn.style.display = "none";
            CancelEquBtn.style.display = "none";

            RenameEqu.disabled = true;
        }
        else { //cache le textInput, reset les boutons
            var textcell = equipes.rows[ID].cells.item(0);
            var SpanText = textcell.querySelector("#SpanText");
            var InputText = textcell.querySelector("#InputText");

            equipes.rows[ID].classList.remove("Change", "highlight");
            SpanText.style.display = "block";

            InputText.value = SpanText.textContent;
            InputText.style.display = "none";

            NewEqu.style.display = "block";
            RenameEqu.style.display = "block";

            UpdateEquBtn.style.display = "none";
            CancelEquBtn.style.display = "none";

            RenameEqu.disabled = true;
        }
    };
</script>