@model IEnumerable<Parcours_integration.Models.Modele>

@{
    ViewBag.Title = "Modèles de formation";
}

<h2>Modèles de formation</h2>
<hr />

@using (Html.BeginForm())
{
    <div class="h-100 p-4 bg-light border rounded-3" style="padding:12px">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" id="Search" placeholder="Recherche" class="form-control" style="width:240px" />
                </div>
            </div>

            <div class="col-md-6">
                <div style="line-height:30px">
                    Service :&nbsp;&nbsp;&nbsp;@Html.DropDownList("ServiceID", null, "Tous", htmlAttributes: new { @onchange = "this.form.submit()" }) &nbsp;&nbsp; <br />
                    <label>CDI :&nbsp; @Html.CheckBox("CDI", new { onChange = "this.form.submit()", @class = "sizeup" }) &nbsp;&nbsp;</label>
                    <label>CDD : &nbsp;@Html.CheckBox("CDD", new { onChange = "this.form.submit()", @class = "sizeup" }) &nbsp;&nbsp;</label>
                    <label>Stage : &nbsp;@Html.CheckBox("Stage", new { onChange = "this.form.submit()", @class = "sizeup" }) &nbsp;&nbsp;</label>
                    <label>Mutation : &nbsp;@Html.CheckBox("Mutation", new { onChange = "this.form.submit()", @class = "sizeup" })&nbsp;&nbsp;</label>
                    <label>Intérimaire : &nbsp;@Html.CheckBox("Intérim", new { onChange = "this.form.submit()", @class = "sizeup" })&nbsp;&nbsp;</label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="d-grid gap-1 d-md-flex btn-group-vertical">
                    @if (ViewBag.IsAdmin)
                    {
                        <a class="btn btn-primary btn-mini" href="@Url.Action("Create")" role="button">Nouvelle Formation</a>
                    }
                </div>
            </div>
        </div>
    </div>
}
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 35%;">
                                Nom de formation
                            </th>
                            <th class="text-center" style="width: 15%;">
                                Service
                            </th>
                            <th class="text-center" style="width: 8%;">
                                CDI
                            </th>
                            <th class="text-center" style="width: 8%;">
                                CDD
                            </th>
                            <th class="text-center" style="width: 8%;">
                                Stage
                            </th>
                            <th class="text-center" style="width: 8%;">
                                Mutation
                            </th>
                            <th class="text-center" style="width: 8%;">
                                Intérimaire
                            </th>
                            @if (ViewBag.IsAdmin)
                            {
                                <th class="text-center" style="width: 10%">
                                    Actions
                                </th>
                            }
                            </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr align="center">
                                <td class="align-middle Search">
                                    @Html.DisplayFor(modelItem => item.Nom)
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.Service.Nom)
                                </td>
                                <td class="align-middle">
                                    @if (item.CDI)
                                    {
                                        <a href="#" class="disabled btn btn-success icon-edit bigger-10">OUI</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="disabled btn btn-danger icon-edit bigger-10">NON</a>
                                    }
                                </td>
                                <td class="align-middle">
                                    @if (item.CDD)
                                    {
                                        <a href="#" class="disabled btn btn-success icon-edit bigger-10">OUI</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="disabled btn btn-danger icon-edit bigger-10">NON</a>
                                    }
                                </td>
                                <td class="align-middle">
                                    @if (item.Stage)
                                    {
                                        <a href="#" class="disabled btn btn-success icon-edit bigger-10">OUI</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="disabled btn btn-danger icon-edit bigger-10">NON</a>
                                    }
                                </td>
                                <td class="align-middle">
                                    @if (item.Mutation)
                                    {
                                        <a href="#" class="disabled btn btn-success icon-edit bigger-10">OUI</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="disabled btn btn-danger icon-edit bigger-10">NON</a>
                                    }
                                </td>
                                <td class="align-middle">
                                    @if (item.Intérimaire)
                                    {
                                        <a href="#" class="disabled btn btn-success icon-edit bigger-10">OUI</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="disabled btn btn-danger icon-edit bigger-10">NON</a>
                                    }
                                </td>
                                @if (ViewBag.IsAdmin)
                                {
                                    <td class="align-middle">

                                        <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-primary icon-edit bigger-10">Modifier</a>

                                    </td>
                                }
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).parent().hide();
                }
                else {
                    $(this).parent().show();
                }
            });
        });
    });
</script>

<style>
    .sizeup {
        transform: scale(1.5);
    }
</style>